# Disable runtime PM for WCD938x SoundWire RX/TX to keep jack detection alive.
ACTION=="bind", SUBSYSTEM=="soundwire", KERNEL=="sdw:*:0217:010d:*", IMPORT{program}="/usr/libexec/armada/device-env", ENV{ARMADA_SOC_CLASS}=="SM8250", ATTR{power/control}="on"
