[Unit]
Description=armada SteamOS Manager compatibility service
After=graphical-session.target

[Service]
Type=dbus
BusName=com.steampowered.SteamOSManager1
ExecStart=/usr/libexec/armada/steamos-manager
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
