[Unit]
Description=Apply Armada Input Calibration
DefaultDependencies=no
After=systemd-modules-load.service
Before=inputplumber.service
ConditionPathExists=/etc/armada/input-calibration.json

[Service]
Type=oneshot
ExecStart=/usr/libexec/armada/apply-input-calibration

[Install]
WantedBy=multi-user.target
